<th:block th:insert="~{blocks/header}"></th:block>
<h2>Adding new product</h2>
<hr>
<form action="/admin/add-product" method="post" enctype="multipart/form-data">
    Title: <input type="text" name="title"><br><br>
    Description: <input type="text" name="description"><br><br>
    Price: <input type="number" name="price"><br><br>
    Category: <input type="text" name="category"><br><br>
    Photo: <input type="file" name="file"><br><br>
    <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}">
    <input type="submit" value="Add product"/>
</form>
<th:block th:insert="~{blocks/footer}"></th:block>