<th:block th:insert="~{blocks/header}" xmlns="http://www.w3.org/1999/html"></th:block>
<div class="card-group">
    <div class="card" th:each="product : ${products}">
        <a th:href="'/product/' + ${product.getId()}"><img th:src="'/images/' + ${product.getImages().get(0).getId()}" alt="Error"></a>
        <div class="card-info">
            <a th:href="'/product/' + ${product.getId()}"><p class="product-title" th:text="${product.getTitle()}"></p></a>
            <p class="product-availability" th:text="${product.getDescription()} ? 'Available' : 'Not available'"></p>
            <div class="flex-center">
                <p class="product-price" th:text="'$' + ${product.getPrice()}"></p>
                <a href="/cart/add-product/id"><i class="ri-shopping-cart-line link cart"></i></a>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{blocks/footer}"></th:block>