<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=REM:wght@500;600&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title th:fragment="title" th:text="${pageTitle}"></title>
</head>
<body>
    <header>
        <a href="/" class="logo"><img class="svg" src="/static/img/butterfly.svg" alt=""><span>Favonius</span></a>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="#">Catalog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Help</a></li>
        </ul>
        <div class="main">
            <a href="/login" class="user"><i class="ri-user-fill"></i>Login</a>
            <a href="/registration" class="user"><i class="ri-indent-increase"></i>Register</a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>
    <div class="container">